# Dependencies
node_modules/
examples/**/node_modules/

# Builds
dist/
dist-*/
tsconfig.tsbuildinfo
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Coverage / tests
coverage/
.nyc_output/

# Env
.env.local
.env.*.local

# Example app artifacts
examples/vite-demo/dist/

